<% provide(:title, 'Quienes somos') %>

    <h2>Quienes somos</h2>
    <%= link_to image_tag("bodegon con uva botellas filtravinos vasos etc.jpg")%>
    <p>
      Esta es la organización de Alicia Paredes, Juan Carlos de Cos y Juan de Cos
      
    </p>
  