<% provide(:title, 'Ayuda') %>

    <h2>Ayuda</h2>
    <%= link_to image_tag("pies pisando uva.jpeg")%>
    <%= link_to image_tag("Ayuda cata.png")%>

    <h3> Elementos que afectan a una cata</h3>
    <h4>Visuales</h4>
    <p>Intensidad colorante(Brillo).Cuerpo, fuerza, tonalidad, color, edad.</p>
    <p>Rojo.Radiaciones correspondientes a absorciones de colores que dan rojo.</p>
    <p>Blanco Amarillo.Radiaciones correspondientes a absorciones de colores que dan
     azules y violetas.</p>
     <h4>Olfativos</h4>

     <p>Reconoce y clasifica los cuerpos volátiles como AROMA, corresponde a vinos
     jóvenes, afrutados, como aroma primario corresponde a fruta (uva) y secundario
     corresponde a fermentación vinos y BOUQUET, equivale a vinos de crianza en
     barrica y botella, de oxidación, envejecidos al contacto del aire y reducción
     al abrigo del aire. Ejemplo : Oxid= Jerez y Red = Rioja.</p>

     <h4>Gustativos</h4>

     <p>Amargo. Taninos (Astringencia).</p>
     <p>Ácidos(Ácidos fijos en el vino)</p>
     <ul class= "a pos_left">
        <li >Tartárico. Dureza.</li>
        <li>Cítrico. Impresión agradable y frescor.</li>
        <li>Málico. Verde, áspero, sabor raspón, hacer perder al vino el afrutado con
     riesgo de volátil.</li>
     </ul>

     <h3> Método para hacer una cata</h3>

     <ol class= "a pos_left">
     <li class="pos_left">Cata inmediata a la apertura de la botella.</li>
     <li class="pos_left">Paso a apreciación aromática directa.</li>
     <li class="pos_left">Observación de brillo y color. La vista ha de buscar el amarillo,
      que es el indicio de edad. En tinto, ha de inclinarse la copa para apreciar el amarillo en el
      borde, con poco espesor de vino. Todos los vinos, blancos, rosados y tintos, tienen tanino que,
      al envejecer pasa de incoloro amarillo y hasta dorado que es el indicio de edad. 
      Los tintos y rosados tienen rojo de la uva tinta; este color rojo son los antocianos, que se
      destruyen con la edad.
      </ul>
      <li class="pos_left">Paso a boca manteniendo 5 segundos con boca cerrada en cavidad
      bucal para apreciar existencia de CO2 por picor en la lengua.
      </li>
      <li class="pos_left">Succión de aire por boca y apreciación olfativa retronasal.</li>
      <li class="pos_left">Ingestión o expulsión del vino.</li>
      <li class="pos_left">Inmediatamente definir impresiones remanentes en zonas
      peridental - lingual - palatina.</li>
      <li class="pos_left">Definir retrogusto.</li>
      <li class="pos_left">Nueva apreciación olfativa directa y comparación con el recuerdo del
punto 2.</li>

     </ol>

     <h3> Vocabulario empleado en una cata</h3>
     <p>Ejemplos color: apariencia, brillante, decolorado, dorado, pálido, pajizo, rojo, rubí,
      turbio, velado, vuelto.</p>
      <p>Ejemplos aroma: aromático, geraniol, estireno, reducido, mecha, mercaptano, saco,
      vainilla.</p>
      <p>Ejemplos sabor: astringente, ácido, aguado, acético, amargo, ardiente, canido,
      cemento, cítrico, dulce, duro, metálico, tabla, tánico, tartárico, tierra, verde.</p>

      <h3> Ejemplos de comentarios de catas</h3>

      <em>"Vino con brillo, equilibrio en rojo-rubí. Olfatación rica y armónica con remanente
      bucal neutro a la zona peridental, paladar suave, neutra en zona perilingual y retrogusto
      muy suave."</em>
      <p></p>
      <em>"Paladar neutro, impresión áspera lingual y peridental y retrogusto suave."</em>

      <p></p>


     <p style="background-color:#F0F8FF">
     Extraído de Curso de Cata de Vinos de Miguel Ruíz Hernández/Miguel Martínez Garoña</p>







    
  