<% provide(:title, 'Inicio') %>
<div class="center hero-unit text-center">
    <h1>Catando Vinos</h1>
    <aside class="text-center">
    <%= link_to image_tag("escanciando vino sin copa.jpeg")%>
    </aside>
    <h4>Dijo el mosquito a la rana desde una tinaja:
          "Más vale morir en el vino que vivir en el agua"
    </h4>
    <small>
    <p class="text-right">F. de Quevedo en "Rana al mosquito" </p>
    </small>
    <%= link_to "¡Adelante!", vinos_path, class: "btn btn-large btn-primary" %>
 </div>
  