<footer class="footer">
  <small>
    <a href="http://www.uec.es//">Ir a la Web de la Union española de catadores</a>
    un consejo de Juan de Cos
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros",   about_path %></li>
    </ul>
  </nav>
</footer>